# macOS
.DS_Store
.AppleDouble
.LSOverride

# Flutter
.DS_Store
*/.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Temporary files
*.log
errorlog.md
